.header {
  background-color: white;
  border-bottom-left-radius: 20px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 75px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  padding-left: 20px;
}
.right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 5px;
}
img {
  width: 200px;
  height: 80px;
}
.avatar {
  margin-top: 2px;
}
